@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700');
 html {
	 font-size: 16px;
}
 body {
	 margin: 0;
	 padding: 0;
	 font-family: lato, sans-serif;
	 color: #414141;
	 font-size: 1rem;
	 min-height: 5000px;
}
 h1, h2, h3, h4, h5, h6 {
	 font-family: lato, sans-serif;
	 font-weight: bold;
}
 p {
	 font-size: 1rem;
}
 a {
	 color: #3498db;
	 text-decoration: none;
}
 a:hover {
	 text-decoration: underline;
}
 header .hero {
	 background-color: #08aeea;
	 background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
	 width: 100%;
	 height: 10vh;
	 min-height: 20px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 header .hero h1 {
	 margin: 0;
	 color: #fff;
}
 nav.main_nav {
	 min-height: 63px;
	 z-index: 999;
}
 nav.main_nav .main_nav_wrap {
	 width: 100%;
	 display: block;
	 background-color: #414141;
	 z-index: 999;
}
 nav.main_nav .main_nav_wrap ul {
	 margin: 0;
	 padding: 0;
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
	 list-style: none;
	 z-index: 999;
}
 nav.main_nav .main_nav_wrap ul li a {
	 font-size: 1.2rem;
	 padding: 20px;
	 display: block;
	 color: #fff;
	 transition: all 0.3s;
	 background-color: transparent;
	 z-index: 999;
}
 nav.main_nav .main_nav_wrap ul li a:hover {
	 text-decoration: none;
	 background-color: #5b5b5b;
	 z-index: 999;
}
 .page_wrap {
	 width: 95%;
	 max-width: 1000px;
	 display: block;
	 margin: 0 auto;
}
